</main>

<footer>
  <div class="container" id="footer">
    <p> Copyright © Paula Cardone </p>
    <p> This site is served by a <a href="https://www.openbrewerydb.org/" target="_blank">public API</a> that has a list of breweries from: Austria, England, France, Isle of Man, Ireland, Poland, Portugal, Scotland, Singapore, South Korea and United States</p> 
  </div>
</footer>

</body>

</html>
